h1, p {
    font-family: Lato;
  }

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }


body {
    /* font-family: $font-family;
    font-size: $font-size; */
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #478d99 10%, #131b20 90%);
    height: 100vh;
    overflow : hidden
}

.user {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.user__title {
    /* font-size: $font-size; */
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.heading {
  text-align : center;
  color : white;
}

.heading3 {
    text-align : center;
    color : rgb(209, 219, 236);
    font-family: Calibri
  }
  
.anchheading {
  text-align : center
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    color : white ;
    /* font-family: $font-family; */
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    
    /* &.focus { */
        background: darken(#fff, 3%);
    /* } */
}

.btn {
    display: block;
    width: 100%;
    padding: 0px;
    /* font-family: $font-family; */
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    /* background: $color-primary; */
    transition: 0.3s;
    
    /* &:hover {
        background: darken($color-primary, 5%);
    } */
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}
